<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<database name="mysql" catalog="def" charset-name="utf8" collation-name="utf8_general_ci" filename="etc/model/mysql/plugin.xml">
    <table name="plugin" database-name="mysql" table-type="base-table" collation-name="utf8_general_ci" description="MySQL plugins" engine="innodb" is-rest-service="false" row-format="dynamic" iterations="0">
        <column name="name" java-type="String" data-type="varchar" extra-data-type="varchar(64)" size="64" order="1" primary-key="true" persistent="true" required="true"/>
        <column name="dl" java-type="String" data-type="varchar" extra-data-type="varchar(128)" size="128" order="1" persistent="true" required="true"/>
    </table>
</database>
